@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  color: gray;
  font-size: medium;
  font-family: "Doto", serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.canvas {
  display: flex;
  column-gap: 20px;
  flex-direction: row;;
  align-items: center;
}

pre {
  display: inline-block;
  font-size: 10px;
}

ul {
  list-style: none;
}