<!DOCTYPE html>
<html lang="en">

<head>
  <title>webfetch</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/web/css/styles.css">
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
</head>

<body>
  <div class="container">
    <pre>
     {{ .Art }} 
    </pre>
    <div hx-ext="ws" ws-connect="/update">
      <ul>
        <li id="os"></li>
        <li id="host"></li>
        <li id="kernel"></li>
        <li id="uptime"></li>
        <li id="shell"></li>
        <li id="mem"></li>
        <li id="cpu"></li>
      </ul>
    </div>
  </div>
</body>

</html>